body {
    height: 500px;
    background-image: url("img/Caribe.jpg");
    background-repeat:no-repeat;
    background-size: cover;
  }

div.titulo {
    background-image: url(img/mapa.jpg);
    text-align: right;
    height: 53px;
    width: 830px;
    margin-left: 40px;
    position: fixed;
}

div.titulo p {
    font-size: 26px;
    color: #FFFF99;
    font-family: Arial;
    margin: 15px 12px 0 0;
}

.primer {
    padding: 0;
    margin: 0 0 0 0;
    border: 0.5px solid white;
}

.segundo {
    padding: 0;
    margin: 1px 0 0 0;
    border: 0.5px solid white;
}

.tercero {
    padding: 0;
    margin: 3px 0 0 0;
    border: 0.5px solid white;
}

.cuarto {
    padding: 0;
    margin: 1px 0 0 0;
    border: 0.5px solid white;
}

div.miami {
    border: 3px solid white;
    background-color: #6699FF;
    height: 50px;
    width: 150px;
    position: absolute;
    top: 250px;
    left: 798px;
}

div.miami p {
    color: white;
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
    margin: 12px 0 0 0;
}

.usa {
    border: 4px solid white;
    background-color: #6699FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: 244px; 
    position: absolute;
    top: 140px;
    left: 580px;
    z-index: -1;
}

 .coche {
    background-color: #CC0033;
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 185px;
    width: 300px;
    position: absolute;
    top: 450px;
    left: 650px;
}

.cuba {
    background-color: #CC0033;
    border: 3px solid white;
    position: absolute;
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
    color: white;
    height: 50px;
    width: 80px;
    position: absolute;
    top: 420px;
    left: 620px;
}

.cuba p {
    margin: 12px 0 0 0;
}